In [4]:
import pandas as pd
import numpy as np

g7_pop = pd.Series([5.43, 38.01, 65.11, 126.74, 60.67, 83.02, 66.49])
g7_pop

0      5.43
1     38.01
2     65.11
3    126.74
4     60.67
5     83.02
6     66.49
dtype: float64

In [5]:
g7_pop.name = "G7 Population in millions"
g7_pop

0      5.43
1     38.01
2     65.11
3    126.74
4     60.67
5     83.02
6     66.49
Name: G7 Population in millions, dtype: float64

In [6]:
g7_pop.index = ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'UK', 'USA']
g7_pop

Canada       5.43
France      38.01
Germany     65.11
Italy      126.74
Japan       60.67
UK          83.02
USA         66.49
Name: G7 Population in millions, dtype: float64

In [7]:
pd.Series.mean(g7_pop)

np.float64(63.638571428571424)

In [10]:
pd.DataFrame(g7_pop, columns=['Population'])

Empty DataFrame
Columns: [Population]
Index: []

In [11]:
pd.Series(
    [5.43, 38.01, 65.11, 126.74, 60.67, 83.02, 66.49],
    index=['Canada', 'France', 'Germany', 'Italy', 'Japan', 'UK', 'USA'],
    name="G7 Population in millions"
)

Canada       5.43
France      38.01
Germany     65.11
Italy      126.74
Japan       60.67
UK          83.02
USA         66.49
Name: G7 Population in millions, dtype: float64

In [12]:
g7_pop['Canada']

np.float64(5.43)

In [14]:
g7_pop.iloc[-1]

np.float64(66.49)

In [17]:
g7_pop.iloc[[0,1]]

Canada     5.43
France    38.01
Name: G7 Population in millions, dtype: float64

In [18]:
g7_pop > 50

Canada     False
France     False
Germany     True
Italy       True
Japan       True
UK          True
USA         True
Name: G7 Population in millions, dtype: bool

In [20]:
g7_pop[g7_pop < 50]

Canada     5.43
France    38.01
Name: G7 Population in millions, dtype: float64

In [25]:
g7_pop[(g7_pop > g7_pop.mean() - g7_pop.std() /2) | (g7_pop > g7_pop.mean() + g7_pop.std() /2)]
# ~ means not

Germany     65.11
Italy      126.74
Japan       60.67
UK          83.02
USA         66.49
Name: G7 Population in millions, dtype: float64

In [27]:
#dataframes
df = pd.DataFrame({
    'Population': [20.5, 30.1, 15.3],
    'GDP': [500, 700, 300],
    'Area': [250, 300, 150],
    'HDI': [0.8, 0.9, 0.7],
    'Continents': ['Asia', 'Europe', 'Africa']
}, index=['Country A', 'Country B', 'Country C']
, columns=['Population', 'GDP', 'Area', 'HDI', 'Continents']
)

df

           Population  GDP  Area  HDI Continents
Country A        20.5  500   250  0.8       Asia
Country B        30.1  700   300  0.9     Europe
Country C        15.3  300   150  0.7     Africa

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Country A to Country C
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Population  3 non-null      float64
 1   GDP         3 non-null      int64
 2   Area        3 non-null      int64
 3   HDI         3 non-null      float64
 4   Continents  3 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 144.0+ bytes

In [30]:
df.size
df.shape

(3, 5)

In [31]:
df.describe()

       Population    GDP        Area   HDI
count    3.000000    3.0    3.000000  3.00
mean    21.966667  500.0  233.333333  0.80
std      7.508218  200.0   76.376262  0.10
min     15.300000  300.0  150.000000  0.70
25%     17.900000  400.0  200.000000  0.75
50%     20.500000  500.0  250.000000  0.80
75%     25.300000  600.0  275.000000  0.85
max     30.100000  700.0  300.000000  0.90

In [33]:
df['Population']['Country A']

np.float64(20.5)

In [34]:
df.loc['Country B']

Population      30.1
GDP              700
Area             300
HDI              0.9
Continents    Europe
Name: Country B, dtype: object

In [35]:
df.loc['Country B': 'Country C', ['GDP', 'HDI']]

           GDP  HDI
Country B  700  0.9
Country C  300  0.7

In [39]:
df.loc[df['Population']>20 , ['Population', 'GDP']]

           Population  GDP
Country A        20.5  500
Country B        30.1  700

In [41]:
df.drop('Country B')

           Population  GDP  Area  HDI Continents
Country A        20.5  500   250  0.8       Asia
Country C        15.3  300   150  0.7     Africa

In [ ]:
crisis = pd.Series([-1_000_000, -0.3], index=['GDP', 'HDI'])
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [44]:
df[['GDP', 'HDI']] + crisis

                GDP  HDI
Country A -999500.0  0.5
Country B -999300.0  0.6
Country C -999700.0  0.4

In [45]:
langs = pd.Series(
    ['FR', 'EN', 'DE'],
    index=['Country A', 'Country B', 'Country C'],
    name='Language'
)

In [46]:
df['Languages'] = langs
df

           Population  GDP  Area  HDI Continents Languages
Country A        20.5  500   250  0.8       Asia        FR
Country B        30.1  700   300  0.9     Europe        EN
Country C        15.3  300   150  0.7     Africa        DE

In [ ]:
df['Language'] = 'FR'
df

           Population  GDP  Area  HDI Continents Languages Language
Country A        20.5  500   250  0.8       Asia        FR       FR
Country B        30.1  700   300  0.9     Europe        EN       FR
Country C        15.3  300   150  0.7     Africa        DE       FR

In [49]:
import pandas as pd

certificates_earned = pd.DataFrame({
    'Certificates': [8, 2, 5, 6],
    'Time (in months)': [16, 5, 9, 12]
})
names = ['Tom', 'Kris', 'Ahmad', 'Beau']

certificates_earned.index = names
longest_streak = pd.Series([13, 11, 9, 7], index=names)
certificates_earned['Longest streak'] = longest_streak

print(certificates_earned)

       Certificates  Time (in months)  Longest streak
Tom               8                16              13
Kris              2                 5              11
Ahmad             5                 9               9
Beau              6                12               7

In [50]:
df['GDP per capita'] = df['GDP'] / df['Population']
df

,Population,GDP,Area,HDI,Continents,Languages,Language,GDP per capita
Country A,20.5,500,250,0.8,Asia,FR,FR,24.390244
Country B,30.1,700,300,0.9,Europe,EN,FR,23.255814
Country C,15.3,300,150,0.7,Africa,DE,FR,19.607843

In [54]:
population = df['Population']
population.mean()
population.std()
population.median()
population.describe()
population.min()
population.max()
population.sum()
population.quantile(0.25)
population.quantile([.2, .4, .6])

0.2    17.38
0.4    19.46
0.6    22.42
Name: Population, dtype: float64