In [4]:
import pandas as pd
import numpy as np

g7_pop = pd.Series([5.43, 38.01, 65.11, 126.74, 60.67, 83.02, 66.49])
g7_pop

0      5.43
1     38.01
2     65.11
3    126.74
4     60.67
5     83.02
6     66.49
dtype: float64

In [5]:
g7_pop.name = "G7 Population in millions"
g7_pop

0      5.43
1     38.01
2     65.11
3    126.74
4     60.67
5     83.02
6     66.49
Name: G7 Population in millions, dtype: float64

In [6]:
g7_pop.index = ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'UK', 'USA']
g7_pop

Canada       5.43
France      38.01
Germany     65.11
Italy      126.74
Japan       60.67
UK          83.02
USA         66.49
Name: G7 Population in millions, dtype: float64

In [7]:
pd.Series.mean(g7_pop)

np.float64(63.638571428571424)

In [10]:
pd.DataFrame(g7_pop, columns=['Population'])

Empty DataFrame
Columns: [Population]
Index: []

In [11]:
pd.Series(
    [5.43, 38.01, 65.11, 126.74, 60.67, 83.02, 66.49],
    index=['Canada', 'France', 'Germany', 'Italy', 'Japan', 'UK', 'USA'],
    name="G7 Population in millions"
)

Canada       5.43
France      38.01
Germany     65.11
Italy      126.74
Japan       60.67
UK          83.02
USA         66.49
Name: G7 Population in millions, dtype: float64

In [12]:
g7_pop['Canada']

np.float64(5.43)

In [14]:
g7_pop.iloc[-1]

np.float64(66.49)

In [17]:
g7_pop.iloc[[0,1]]

Canada     5.43
France    38.01
Name: G7 Population in millions, dtype: float64

In [18]:
g7_pop > 50

Canada     False
France     False
Germany     True
Italy       True
Japan       True
UK          True
USA         True
Name: G7 Population in millions, dtype: bool

In [20]:
g7_pop[g7_pop < 50]

Canada     5.43
France    38.01
Name: G7 Population in millions, dtype: float64

In [25]:
g7_pop[(g7_pop > g7_pop.mean() - g7_pop.std() /2) | (g7_pop > g7_pop.mean() + g7_pop.std() /2)]
# ~ means not

Germany     65.11
Italy      126.74
Japan       60.67
UK          83.02
USA         66.49
Name: G7 Population in millions, dtype: float64

In [27]:
#dataframes
df = pd.DataFrame({
    'Population': [20.5, 30.1, 15.3],
    'GDP': [500, 700, 300],
    'Area': [250, 300, 150],
    'HDI': [0.8, 0.9, 0.7],
    'Continents': ['Asia', 'Europe', 'Africa']
}, index=['Country A', 'Country B', 'Country C']
, columns=['Population', 'GDP', 'Area', 'HDI', 'Continents']
)

df

           Population  GDP  Area  HDI Continents
Country A        20.5  500   250  0.8       Asia
Country B        30.1  700   300  0.9     Europe
Country C        15.3  300   150  0.7     Africa